@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
}


h1,h2,h3{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	padding-left: 10px;
}


a{
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}


h2{
	margin-top: 40px;
	font-size: 25px;
}

h3{
	font-size: 18px;
	color: rgba(0, 0, 0,0.8);
}


@media (max-width: 760px){
	.container{
	width: 600px;
	}
}


@media (max-width: 500px){
	.container{
	width: 400px;
	}	
}


